.a-border{
    display: inline-block;
    padding-left: 1%;
}
.title-page4{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
.text-discription{
    overflow: auto;
    resize: none;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
}

.comment{
    padding-bottom: 20px;
}

div.text-name{
    padding-top: 2%;
}


div.text-information{
    display: inline-block;
    padding-top: 2%;
    width: 49%;
}

button.button-send{
    width: 100px;
    height: 50px;
    background: black;
    align-self: auto;
}

button.button-send>i{
    color: white;
}

input.text-full-name,
input.text-email,
input.text-phonenumber{
    padding-left: 1%;
}

.something{
    width: 80%;
    font-size: 25px;
    margin: 0 auto;
}

.just-do-it{
    width: 50%;
}

.uy-tin{
    padding:0%;
    background-color: black;
    color: white;
    text-align: center;
}

.address{
    width:100%;
    font-size: 25px;
    margin-top: 30px;
}

.call-me{
    display: flex;
}
/* .something,
.all-infor,
.text-name,
.text-information,
.notice,
.send{
    padding-left: 100px;
} */
div.nhap{
    width: 100%;
}
div.nhap > div{
    width: 80%;
    margin: 0 auto;
}
.notice,
.send{
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 1120px){
    div.address{
        width: 100%;
    }
    div.address > div {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    textarea.text-discription,
    input.text-full-name,
    input.text-email,
    input.text-phonenumber{
        width: 100%;
    }
    div.something{
        width: 100%;
    }
}

@media only screen and (max-width: 910px){
    div.call-me{
        flex-direction: column;
    }

    div.something{
        width: 100%;
        text-align: center;
        padding: 15px;
        }
    /* div.all-infor,
    div.text-name,
    div.text-information,
    div.address,
    p.notice,
    div.send{
        padding-left: 150px; 
    } */
}

@media only screen and (max-width: 1370px){
    textarea.text-discription,
    input.text-full-name,
    input.text-email,
    input.text-phonenumber{
        width: 100%;
    }

}
