section.shopping{
    padding-left: 3%;
    font-size: 30px;
    max-width: 1500px;
    margin:0 auto;
}

.order{
    margin-left: 3%;
}

.title-page5{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

div.final{
    display: flex;
    padding-right: 10%;
    padding-left: 3%;
    justify-content: space-between;
}
div.final>div{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.image-about-shoes{
    width: 250px;
    height: 250px;
}

.all-money{
    font-style: italic;
    text-align: center;
}

.name-of-product{
    color: black;
    padding-left: 1%;
    max-width: 1%;
}

div.money{
    padding-left: 5%;
    margin-left: auto;
}

button.buy-now{
    width: 90%;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: black;
    justify-content: center;
    margin: 8px auto;
    display: block;
}

select.lots-of-size{
    width: 70px;
}
.notice-of-free-ship{
    font-style: italic;
    font-size:15px;
    padding-left:3%;
}

@media only screen and (max-width:900px){
    div.final{
        flex-direction: column;
    }
    

    div.order,
    div.product-in,
    div.money{
        width:100%;
        margin:0 auto;
        padding:0%;
        padding-bottom:2%;
    }
    div.order{
        text-align: center;
    }
    div.money{
        padding-top:2%;
    }
    button.buy-now{
        width:100%;
        border-radius: 30px;
    }
}

@media only screen and (max-width:550px){
    div.final>div{
        flex-direction: column;
    }
    div.another-image{
        display: flex;
        justify-content: center;
    }
}