
div.news{
    width: 100%;
    text-align: center;
    margin-bottom: 30px; 
}
section.news-section{
    width: 100%;
}
div.post-list-wrapper>div:first-child{
    width: 85%;
    display: flex;
    margin: 0 auto 10px;
    max-width: 1344px;
    /* overflow: auto; */
}
div.post{
    width: 50%;
    /* float: left; */
}
div.post-title,
div.post-item-title{
    color: #000;
}
div.post-detail{
    width: 100%;
    padding-left: 20px;

}

div.post-items{
    width: 85%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1344px;
}
div.post-item{
    width: calc(30% - 10px);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
div.post-item-detail{
    flex: 1;
    display: flex;
    flex-direction: column;
}
div.post-item-img a img {
    height: 210px;
    object-fit: cover;
    flex-shrink: 0;
}
div.post-item-action,
div.post-action{
    border: 1px solid;
    padding: 10px 0;
    width: fit-content;
    
}
div.post-item-action a,
div.post-action a{
    padding: 12px 15px;
    color: #000;
}
div.post-item-action{
    margin: auto 0 10px 10px;
}
div.loadMore-btn{
    display: flex;
    justify-content: center;
    margin: 20px;
}
div.loadMore-btn button{
    padding: 10px 20px;
    border: none;
}