.a-border{
    display: inline-block;
    padding-left: 1%;
}
.title-page4{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
.text-discription{
    overflow: auto;
    resize: none;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    width: 650px;
}

.comment{
    padding-bottom: 20px;
}

div.text-name{
    padding-top: 2%;
}


div.text-information{
    display: inline-block;
    padding-top: 2%;
}

button.button-send{
    width: 100px;
    height: 50px;
    background: black;
    align-self: auto;
}

button.button-send>i{
    color: white;
}

.something{
    width: 75%;
    font-size: 25px;
}

.just-do-it{
    height: 250px;
    width: 150px;
    padding-top: 50px;
    margin-left: 225px;
}

.uy-tin{
    padding:0%;
    background-color: black;
    color: white;
    text-align: center;
}

.address{
    width:100%;
    padding-right: 175px;
    padding-top: 45px;
    text-align: left;
    font-size: 25px;
}

.call-me{
    display: flex;
}
.something,
.all-infor,
.text-name,
.text-information,
.notice,
.send{
    padding-left: 100px;
}

@media only screen and (max-width: 1120px){
    div.address{
        padding-left:25px;
        padding-right:5px;
        max-width: 500px;
    }
    textarea.text-discription,
    input.text-full-name,
    input.text-email,
    input.text-phonenumber{
        width: 375px !important;
    }
    div.something{
        width:475px;
    }
}

@media only screen and (max-width: 910px){
    div.call-me{
        flex-direction: column;
    }

    div.something{
        width:800px;
        text-align: center;
        padding: 15px;
        }

    div.address{
        padding-left: 100px;
    }
}

@media only screen and (max-width: 1370px){
    textarea.text-discription,
    input.text-full-name,
    input.text-email,
    input.text-phonenumber{
        width: 475px !important;
    }

}
